.modal {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  position: fixed;
  min-height: 100vh;
  background-color: $modal__background-color;

  &--active {
    @include flexLayout(flex, center, center, 0, row nowrap);
  }

  &__container {
    padding: 16px;
    margin: 0 auto;
    max-width: 495px;
    min-height: 475px;
    border-radius: 4px;
    background-color: $header__text-color;
    box-shadow: 0px 4px 24px 0px $card__shadow-color;
  }

  &__top {
    @include flexLayout(flex, space-between, center, 0, row nowrap);
    &-heading {
      @include headingFonts($header__background-color, 20px, 600, 26px, none);
    }

    &-close-icon {
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }

  &__bottom {
    @include flexLayout(flex, space-between, center, 0, row nowrap);
    &-btn {
      padding: 8px;
      border: none;
      background-color: transparent;
      transition: opacity 150ms linear;

      &:hover {
        opacity: 0.8;
      }
    }
    &-icon {
      width: 12px;
      height: 12px;
    }

    &-text {
      @include headingFonts($delete-color, 14px, 500, 19.6px, none);
    }

    &-save {
      @include Button(
        $button__active-color,
        1px solid $button__active-color,
        4px,
        8px 18px,
        opacity 150ms linear
      );
      @include headingFonts($header__text-color, 14px, 500, 19.6px, none);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__select {
    appearance: none;
    width: 100%;
    padding: 5px;
    border: none;
    max-width: 288px;
  }

  &__item {
    padding: 16px 0px;
    @include flexLayout(flex, space-between, center, 0, row nowrap);

    &-title {
      @include headingFonts($tab__text-color, 14px, 400, 22.4px, none);
    }
  }
}
